

</body>

<footer>
  <div>
      <form class="item" action="https://github.com/swapnilsardeshmukh/TODOLIST/blob/master/README.md" method="post">
      <button type="submit" class="readme"> ReadME 😄</button>
    </form>
    </div>
  Copyright 2020 Swapnil Sardeshmukh
</footer>

</html>
